# Environment Configuration

DATABASE_URL = "file:./prisma/dev.db"

## Auth

JWT_PRIVATE_KEY = ""
ACCESS_SIGN_EXPIRES_IN = "7d"
REFRESH_SIGN_EXPIRES_IN = "30d"
BCRYPT_SALT_ROUNDS = "12"

## Data Encryptation

ENCRYPTION_ALGORITHM = "aes-256-cbc"
ENCRYPTION_KEY = ""
ENCRYPTION_IV = ""

# Admin User Defaults

ADMIN_DEFAULT_USERNAME = "marcuth"
ADMIN_DEFAULT_EMAIL = "me@marcuth.dev"
ADMIN_DEFAULT_API_KEY = "adm_6zF7nPAlAF1w2eVQJvPpDzoSpksljijv"
ADMIN_DEFAULT_NAME = "Marcuth"
ADMIN_DEFAULT_PASSWORD = ";(HNa}88:kzx8$8w[4%d5zOQj~.G,K(LLa>:E#y}c4v80A@2cgFI1LLz--qKOk"

# Payment Gateway (Stripe)

STRIPE_API_KEY = ""
STRIPE_WEBHOOK_SECRET = ""